<nav class="main-nav" 
[class.scrolled]="isScrolled" 
[class.light]="!isScrolled"
[class.hide-on-mobile]="isOffcanvasOpen">
    <div class="container nav-container">
      <!-- الشعار -->
      <a class="logo" routerLink="/">
        <img [src]="homeService.Logo()" alt="Logo" />
      </a>
  
      <!-- القائمة في الوسط -->
      <ul class="nav-links">
        <li><a routerLink="/" routerLinkActive="active-link">Startseite</a></li>
        <!-- <li><a routerLink="tour"routerLinkActive="active-link">Tours</a></li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle">Hurghada Touren</a>
        
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/categrytourDetail', 14]">Kairo Touren</a></li>
            <li><a [routerLink]="['/categrytourDetail', 10]">Luxor Touren</a></li>
            <li><a [routerLink]="['/categrytourDetail', 12]">Safari Touren</a></li>
            <li><a [routerLink]="['/categrytourDetail', 11]">Meer Touren</a></li>
            <li><a [routerLink]="['/categrytourDetail', 13]">Aktivitäten in Hurghada</a></li>
            
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle">Marsa Alam Touren</a>
<ul class="dropdown-menu">
  <li><a [routerLink]="['/categrytourDetail', 5]">Kairo Touren</a></li>
  <li><a [routerLink]="['/categrytourDetail', 6]">Luxor Touren</a></li>
  <li><a [routerLink]="['/categrytourDetail', 8]">Safari Touren</a></li>
  <li><a [routerLink]="['/categrytourDetail', 7]">Meer Touren</a></li>
  <li><a [routerLink]="['/categrytourDetail', 9]">Aktivitäten in Hurghada</a></li>
</ul>

        </li>
        <li><a routerLink="/" routerLinkActive="active-link">Blogs</a></li>
        <li><a routerLink="/" routerLinkActive="active-link">Bewertungen</a></li>
        <li><a routerLink="about" routerLinkActive="active-link">Über uns</a></li>
        
      </ul>
  
      <!-- Social Icons على اليمين s-->
      <div class="social-icons">
        <a [href]="homeService.FacebookLink()" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a [href]="homeService.TiktokLink()"target="_blank"><i class="fab fa-twitter"></i></a>
        <a [href]="homeService.InstagramLink()"target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
      <button class="hamburger-btn" (click)="toggleOffcanvas()" [class.active]="isOffcanvasOpen">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>


  <!-- Hamburger Button for Mobile -->

<!-- Offcanvas Menu -->
<div class="offcanvas-overlay" (click)="closeOffcanvas()" [class.active]="isOffcanvasOpen"></div>

<div class="offcanvas-menu" [class.active]="isOffcanvasOpen">
  <div class="offcanvas-header">
    <a class="logo" routerLink="/" (click)="closeOffcanvas()">
      <img src="assets/images/redseaRemove1.png" alt="Logo" />
    </a>
    <button class="close-btn" (click)="closeOffcanvas()">&times;</button>
  </div>

  <ul class="offcanvas-links">
    <li><a routerLink="/" routerLinkActive="active-link" (click)="closeOffcanvas()">Startseite</a></li>
    
    <!-- Hurghada Tours Dropdown -->
    <li class="offcanvas-dropdown">
      <a class="dropdown-toggle" (click)="toggleDropdown($event, 'hurghada')">
        Hurghada Tours
        <i class="fas fa-chevron-down"></i>
      </a>
      <ul class="dropdown-submenu" [class.open]="activeDropdown === 'hurghada'">
        <li><a [routerLink]="['/categrytourDetail', 14]" (click)="closeOffcanvas()">Kairo Touren</a></li>
        <li><a [routerLink]="['/categrytourDetail', 10]" (click)="closeOffcanvas()">Luxor Touren</a></li>
        <li><a [routerLink]="['/categrytourDetail', 12]" (click)="closeOffcanvas()">Safari Touren</a></li>
        <li><a [routerLink]="['/categrytourDetail', 11]" (click)="closeOffcanvas()">Sea Touren</a></li>
        <li><a [routerLink]="['/categrytourDetail', 13]" (click)="closeOffcanvas()">Aktivitäten in Hurghada</a></li>
      </ul>
    </li>

    <!-- Marsa Alam Tours Dropdown -->
    <li class="offcanvas-dropdown">
      <a class="dropdown-toggle" (click)="toggleDropdown($event, 'marsa')">
        Marsa Alam Tours
        <i class="fas fa-chevron-down"></i>
      </a>
      <ul class="dropdown-submenu" [class.open]="activeDropdown === 'marsa'">
        <li><a [routerLink]="['/categrytourDetail', 5]" (click)="closeOffcanvas()">Kairo Touren</a></li>
        <li><a [routerLink]="['/categrytourDetail', 6]" (click)="closeOffcanvas()">Luxor Touren</a></li>
        <li><a [routerLink]="['/categrytourDetail', 8]" (click)="closeOffcanvas()">Safari Touren</a></li>
        <li><a [routerLink]="['/categrytourDetail', 7]" (click)="closeOffcanvas()">Sea Touren</a></li>
        <li><a [routerLink]="['/categrytourDetail', 9]" (click)="closeOffcanvas()">Aktivitäten in Hurghada</a></li>
      </ul>
    </li>

    <li><a routerLink="/" (click)="closeOffcanvas()">Blogs</a></li>
    <li><a routerLink="/" (click)="closeOffcanvas()">Bewertungen</a></li>
    <li><a routerLink="about" (click)="closeOffcanvas()">Über uns</a></li>
  </ul>

  <!-- Social Icons in Offcanvas -->
  <div class="offcanvas-social">
    <a [href]="homeService.FacebookLink()" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a [href]="homeService.TiktokLink()"target="_blank"><i class="fab fa-twitter"></i></a>
    <a [href]="homeService.InstagramLink()"target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</div>