<div class="about-container">

    <!-- Hero Image -->
    <div class="about-hero">
      <img [src]="AboutPageContent()?.imageCover" alt="Über uns Bild" />
      <div class="hero-overlay">
        <h1>Über Uns</h1>
      </div>
    </div>
  
    <!-- About Content -->
    <div class="about-content">
      <h2 class="section-title">{{AboutPageContent()?.title}}</h2>
      <p class="about-text">
       {{AboutPageContent()?.description}}
      </p>
    </div>
  
    <!-- Icons Section -->
    <div class="about-icons">
      <div class="icon-box">
        <i class="fas fa-medal"></i>
        <h3>Hohe Qualität</h3>
        <p>Wir liefern immer die beste Qualität und professionelle Arbeit.</p>
      </div>
  
      <div class="icon-box">
        <i class="fas fa-users"></i>
        <h3>Erfahrenes Team</h3>
        <p>Unser Team besteht aus Experten mit tiefem Fachwissen.</p>
      </div>
  
      <div class="icon-box">
        <i class="fas fa-handshake"></i>
        <h3>Verlässlichkeit</h3>
        <p>Wir stehen für Vertrauen, Zuverlässigkeit und Transparenz.</p>
      </div>
    </div>
  
  </div>
  